In [1]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i2',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit']

In [4]:
pwd() # present working directory in which this file is open!ls

'C:\\Users\\soman\\KNAWLEDGE'

In [5]:
f = open("test.txt","w")

In [6]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
ls

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\KNAWLEDGE

11-01-2022  15:29    <DIR>          .
11-01-2022  15:29    <DIR>          ..
10-01-2022  14:51    <DIR>          .ipynb_checkpoints
04-01-2022  18:29            15,964 Data Visualization.ipynb
11-01-2022  15:29             2,138 File Operations 2022 9 jan.ipynb
31-12-2021  15:44            29,365 Function in pyton  (1).ipynb
08-01-2022  12:07             2,341 Functions 2022 8 Jan.ipynb
07-01-2022  16:20         9,564,086 Functions Part 2.1.ipynb
10-01-2022  14:45             8,484 Loggind&Debugging(Old).ipynb
10-01-2022  14:38    <DIR>          logging
06-11-2021  11:49            38,972 Matplotlib.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
09-01-2022  19:03               129 test.log
11-01-2022  15:29                 0 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
31-12-2021  16:29            12,268 Untitled.ipynb
31-12-2021  16:29             5,558 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              18 File(s)     10,202,478 bytes
               4 Dir(s)  51,363,479,552 bytes free

In [8]:
f = open("abc.txt","w") # creates a txt file with the mode you specified or opens a file if preexisting
# by default open has read 'r' mode, thus it only tries to read a file

In [9]:
ls # lists all the files in the currect directory

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\KNAWLEDGE

11-01-2022  15:30    <DIR>          .
11-01-2022  15:30    <DIR>          ..
10-01-2022  14:51    <DIR>          .ipynb_checkpoints
11-01-2022  15:30                 0 abc.txt
04-01-2022  18:29            15,964 Data Visualization.ipynb
11-01-2022  15:29             2,138 File Operations 2022 9 jan.ipynb
31-12-2021  15:44            29,365 Function in pyton  (1).ipynb
08-01-2022  12:07             2,341 Functions 2022 8 Jan.ipynb
07-01-2022  16:20         9,564,086 Functions Part 2.1.ipynb
10-01-2022  14:45             8,484 Loggind&Debugging(Old).ipynb
10-01-2022  14:38    <DIR>          logging
06-11-2021  11:49            38,972 Matplotlib.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
09-01-2022  19:03               129 test.log
11-01-2022  15:29                 0 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
31-12-2021  16:29            12,268 Untitled.ipynb
31-12-2021  16:29             5,558 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              19 File(s)     10,202,478 bytes
               4 Dir(s)  51,367,542,784 bytes free

In [10]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [11]:
%ls

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\KNAWLEDGE

11-01-2022  15:33    <DIR>          .
11-01-2022  15:33    <DIR>          ..
10-01-2022  14:51    <DIR>          .ipynb_checkpoints
11-01-2022  15:30                 0 abc.txt
04-01-2022  18:29            15,964 Data Visualization.ipynb
11-01-2022  15:33             7,126 File Operations 2022 9 jan.ipynb
31-12-2021  15:44            29,365 Function in pyton  (1).ipynb
08-01-2022  12:07             2,341 Functions 2022 8 Jan.ipynb
07-01-2022  16:20         9,564,086 Functions Part 2.1.ipynb
10-01-2022  14:45             8,484 Loggind&Debugging(Old).ipynb
10-01-2022  14:38    <DIR>          logging
06-11-2021  11:49            38,972 Matplotlib.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
09-01-2022  19:03               129 test.log
11-01-2022  15:29                 0 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
31-12-2021  16:29            12,268 Untitled.ipynb
31-12-2021  16:29             5,558 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              19 File(s)     10,207,466 bytes
               4 Dir(s)  51,365,986,304 bytes free

In [12]:
f.write("This is my first file operation that writes this statement in abc.txt file")

74

In [13]:
f.close()

In [15]:
## this overwrites the data, and removes the previous data 
## it is better to use f.open()
%%writefile abc.txt
;askdjf;asj;fkjas;dfja;slkdjf;laskdjf

Overwriting abc.txt

In [17]:
f = open("abc.txt","w")

In [18]:
# You cannot read in write 'w' mode
f.read()

UnsupportedOperation: not readable

In [19]:
f = open("abc.txt")

In [20]:
f.read()

''

In [21]:
f.close()

In [22]:
f = open("abc.txt","w")
f.write("This is my second time writing text in this file. For some reason, the file data was erased, so i'm writing something new")
f.close()
f = open("abc.txt","r")
f.read()

"This is my second time writing text in this file. For some reason, the file data was erased, so i'm writing something new"

In [23]:
# The cursor has reached the end of the file, that's why it can't read anything and outputs blank
f.read()

''

In [24]:
f.seek(5)

5

In [25]:
f.read()

"is my second time writing text in this file. For some reason, the file data was erased, so i'm writing something new"

In [26]:
# tells the curson positipn
f.tell()

121

In [27]:
f.seek(3)
f.tell()

3

In [28]:
ls

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\KNAWLEDGE

11-01-2022  17:17    <DIR>          .
11-01-2022  17:17    <DIR>          ..
10-01-2022  14:51    <DIR>          .ipynb_checkpoints
11-01-2022  17:10               121 abc.txt
04-01-2022  18:29            15,964 Data Visualization.ipynb
11-01-2022  17:17            14,192 File Operations 2022 9 jan.ipynb
31-12-2021  15:44            29,365 Function in pyton  (1).ipynb
08-01-2022  12:07             2,341 Functions 2022 8 Jan.ipynb
07-01-2022  16:20         9,564,086 Functions Part 2.1.ipynb
10-01-2022  14:45             8,484 Loggind&Debugging(Old).ipynb
10-01-2022  14:38    <DIR>          logging
06-11-2021  11:49            38,972 Matplotlib.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
09-01-2022  19:03               129 test.log
11-01-2022  15:29                 0 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
31-12-2021  16:29            12,268 Untitled.ipynb
31-12-2021  16:29             5,558 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              19 File(s)     10,214,653 bytes
               4 Dir(s)  51,291,750,400 bytes free

In [29]:
f = open("google.txt","w")
f.write("""In January 2010, Google released Nexus One, the first Android phone under its own brand.[149] It spawned a number of phones and tablets under the "Nexus" branding[150] until its eventual discontinuation in 2016, replaced by a new brand called Pixel.[151]

In 2011, the Chromebook was introduced, which runs on Chrome OS.[152]

In July 2013, Google introduced the Chromecast dongle, which allows users to stream content from their smartphones to televisions.[153][154]

In June 2014, Google announced Google Cardboard, a simple cardboard viewer that lets user place their smartphone in a special front compartment to view virtual reality (VR) media""")

647

In [32]:
f = open("google.txt","r")
f.read()

'In January 2010, Google released Nexus One, the first Android phone under its own brand.[149] It spawned a number of phones and tablets under the "Nexus" branding[150] until its eventual discontinuation in 2016, replaced by a new brand called Pixel.[151]\n\nIn 2011, the Chromebook was introduced, which runs on Chrome OS.[152]\n\nIn July 2013, Google introduced the Chromecast dongle, which allows users to stream content from their smartphones to televisions.[153][154]\n\nIn June 2014, Google announced Google Cardboard, a simple cardboard viewer that lets user place their smartphone in a special front compartment to view virtual reality (VR) media'

In [34]:
f.seek(0)
# Reads a line by '\n'
f.readline()

'In January 2010, Google released Nexus One, the first Android phone under its own brand.[149] It spawned a number of phones and tablets under the "Nexus" branding[150] until its eventual discontinuation in 2016, replaced by a new brand called Pixel.[151]\n'

In [35]:
f.close()

In [37]:
# r+ -> read and write both
f = open("google.txt","r+")

In [38]:
f.readline()

'In January 2010, Google released Nexus One, the first Android phone under its own brand.[149] It spawned a number of phones and tablets under the "Nexus" branding[150] until its eventual discontinuation in 2016, replaced by a new brand called Pixel.[151]\n'

In [39]:
f.readline()

'\n'

In [40]:
f.readline()

'In 2011, the Chromebook was introduced, which runs on Chrome OS.[152]\n'

In [41]:
f.seek(0)
for line in f:
    print(line, end = " ")

In January 2010, Google released Nexus One, the first Android phone under its own brand.[149] It spawned a number of phones and tablets under the "Nexus" branding[150] until its eventual discontinuation in 2016, replaced by a new brand called Pixel.[151]

 In 2011, the Chromebook was introduced, which runs on Chrome OS.[152]

 In July 2013, Google introduced the Chromecast dongle, which allows users to stream content from their smartphones to televisions.[153][154]

 In June 2014, Google announced Google Cardboard, a simple cardboard viewer that lets user place their smartphone in a special front compartment to view virtual reality (VR) media

In [44]:
f.tell()

653

In [45]:
f.write("abcdefghijklmnopqrstuvwxyz asdkfjasdf ;sdjf;asoijoie ")

53

In [46]:
f.seek(5)
f.write(" YEH MAINE MAZAK KAR DIYA")

25

In [47]:
f.close()

In [48]:
# this replaced the next text with the old text, and not add new text in place
f = open("google.txt","r+")
f.readline()

'In Ja YEH MAINE MAZAK KAR DIYAed Nexus One, the first Android phone under its own brand.[149] It spawned a number of phones and tablets under the "Nexus" branding[150] until its eventual discontinuation in 2016, replaced by a new brand called Pixel.[151]\n'

In [50]:
# f.readlines() returns a list with elemtns being each line in text
f.readlines()

['\n',
 'In 2011, the Chromebook was introduced, which runs on Chrome OS.[152]\n',
 '\n',
 'In July 2013, Google introduced the Chromecast dongle, which allows users to stream content from their smartphones to televisions.[153][154]\n',
 '\n',
 'In June 2014, Google announced Google Cardboard, a simple cardboard viewer that lets user place their smartphone in a special front compartment to view virtual reality (VR) mediaabcdefghijklmnopqrstuvwxyz asdkfjasdf ;sdjf;asoijoie ']

In [51]:
len(f.readlines())

0

In [52]:
f.seek(0)
len(f.readlines())

7

In [53]:
f.seek(0)
l = f.readlines()
l[0].split()

['In',
 'Ja',
 'YEH',
 'MAINE',
 'MAZAK',
 'KAR',
 'DIYAed',
 'Nexus',
 'One,',
 'the',
 'first',
 'Android',
 'phone',
 'under',
 'its',
 'own',
 'brand.[149]',
 'It',
 'spawned',
 'a',
 'number',
 'of',
 'phones',
 'and',
 'tablets',
 'under',
 'the',
 '"Nexus"',
 'branding[150]',
 'until',
 'its',
 'eventual',
 'discontinuation',
 'in',
 '2016,',
 'replaced',
 'by',
 'a',
 'new',
 'brand',
 'called',
 'Pixel.[151]']

In [55]:
ListOfFirstChar = []
l2 = l[0].split()
for w in l2 : 
    ListOfFirstChar.append(w[0])
ListOfFirstChar

['I',
 'J',
 'Y',
 'M',
 'M',
 'K',
 'D',
 'N',
 'O',
 't',
 'f',
 'A',
 'p',
 'u',
 'i',
 'o',
 'b',
 'I',
 's',
 'a',
 'n',
 'o',
 'p',
 'a',
 't',
 'u',
 't',
 '"',
 'b',
 'u',
 'i',
 'e',
 'd',
 'i',
 '2',
 'r',
 'b',
 'a',
 'n',
 'b',
 'c',
 'P']

In [56]:
r	Only for reading. The pointer is located at the start of file and it’s a default mode.
rb	Only for reading in a binary format. The pointer is located at the start of file and it’s a default mode.
r+	To opens a file for the both writing and reading. The pointer is located at the start of file.
rb+	For the both writing and reading operation in binary format. The pointer is located at the start of file.
w	Only for writing. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing.
wb	Only for writing in a binary format. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing.
w+	For the both writing and reading operation. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing and reading.
wb+	For the both writing and reading operation in binary format. Check for existing file, if its present overwrites in the exists file. If there is no any existing file then, makes a novel file for the writing and reading.
a	opens the file for appending; any data written to the file is automatically added to the end. Check for existing file, if its present pointer is set at last of existing file for appending operation. If there is no any existing file then, makes a novel file for the writing.

SyntaxError: invalid syntax (<ipython-input-56-331574c5686f>, line 1)

In [58]:
f.name

'google.txt'

In [60]:
ll = ["this is line 1"," another line 2", "another line 3", "another line 4"]

In [61]:
f.writelines(ll)

In [62]:
f.seek(0);

In [63]:
f.read()

'In Ja YEH MAINE MAZAK KAR DIYAed Nexus One, the first Android phone under its own brand.[149] It spawned a number of phones and tablets under the "Nexus" branding[150] until its eventual discontinuation in 2016, replaced by a new brand called Pixel.[151]\n\nIn 2011, the Chromebook was introduced, which runs on Chrome OS.[152]\n\nIn July 2013, Google introduced the Chromecast dongle, which allows users to stream content from their smartphones to televisions.[153][154]\n\nIn June 2014, Google announced Google Cardboard, a simple cardboard viewer that lets user place their smartphone in a special front compartment to view virtual reality (VR) mediaabcdefghijklmnopqrstuvwxyz asdkfjasdf ;sdjf;asoijoie this is line 1 another line 2another line 3another line 4'

In [64]:
f.fileno()

4

In [65]:
ls

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\KNAWLEDGE

11-01-2022  19:13    <DIR>          .
11-01-2022  19:13    <DIR>          ..
11-01-2022  19:04    <DIR>          .ipynb_checkpoints
11-01-2022  17:10               121 abc.txt
04-01-2022  18:29            15,964 Data Visualization.ipynb
11-01-2022  19:13            32,112 File Operations 2022 9 jan.ipynb
11-01-2022  19:01            14,657 file sysetm( 9 Jan resource).ipynb
31-12-2021  15:44            29,365 Function in pyton  (1).ipynb
08-01-2022  12:07             2,341 Functions 2022 8 Jan.ipynb
07-01-2022  16:20         9,564,086 Functions Part 2.1.ipynb
11-01-2022  18:01               706 google.txt
11-01-2022  19:04        21,685,761 iterator generator( 9 jan Resource).ipynb
10-01-2022  14:45             8,484 Loggind&Debugging(Old).ipynb
10-01-2022  14:38    <DIR>          logging
06-11-2021  11:49            38,972 Matplotlib.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
09-01-2022  19:03               129 test.log
11-01-2022  15:29                 0 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
31-12-2021  16:29            12,268 Untitled.ipynb
31-12-2021  16:29             5,558 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              22 File(s)     31,933,697 bytes
               4 Dir(s)  50,950,832,128 bytes free

In [66]:
f.close()

In [70]:
f = open("DummyForDeletion.txt","w")
f.write("This is a file that will be deleted but not by file operation and by os operation")
f.close()
f = open("DummyForDeletion.txt","r")
f.read()

'This is a file that will be deleted but not by file operation and by os operation'

In [73]:
f.close()

In [74]:
import os
os.remove("DummyForDeletion.txt")

In [1]:
os.getcwd()

NameError: name 'os' is not defined